@page "/"
@using System.Text.Json

<PageTitle>Home</PageTitle>

<!--begin::Content-->
<div class="content fs-6 d-flex flex-column-fluid" id="kt_content" style="padding: 10px 0;">
    <!--begin::Container-->
    <div class="container">

        <!--begin::Row-->
        <div class="row g-0 g-xl-5 g-xxl-8">
            <div class="col-12">

                <div>
                    <h4 class="mb-1 text-gray-700">ច្រោះទិន្នន័យ៖</h4>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-xl-3">
                            <!-- User Input Fields for Filtering -->
                            <input class="form-control my-2 py-2" v-model="tempFilters.schoolName"
                                @keydown.enter="applyFilter" placeholder="ស្វែងរក" />
                        </div>

                        <div class="col-sm-6 col-md-6 col-xl-3">
                            <!-- <input class="form-control" v-model="tempFilters.province" @keydown.enter="applyFilter"
                    placeholder="រាជធានី ខេត្ត" /> -->
                            <!-- <input class="form-control" v-model="tempFilters.type" @keydown.enter="applyFilter" placeholder="ប្រភេទសាលា" /> -->
                            <select class="form-select my-2 py-2" v-model="tempFilters.province"
                                aria-label="Select example">
                                <option value="">-- ថ្នាក់ --</option>
                                <option v-for="province in provinceData" :value="province">{{ province }}</option>
                            </select>
                        </div>

                        <div class="col-sm-6 col-md-6 col-xl-3">
                            <!-- <input class="form-control" v-model="tempFilters.type" @keydown.enter="applyFilter" placeholder="ប្រភេទសាលា" /> -->
                            <select class="form-select my-2 py-2" v-model="tempFilters.type"
                                aria-label="Select example">
                                <option value="">-- មុខវិជ្ជា --</option>
                                <option v-for="type in schoolTypes" :value="type">{{ type }}</option>
                            </select>
                        </div>

                        <div class="col-sm-6 col-md-6 col-xl-3">
                            <!-- <input class="form-control" v-model="tempFilters.type" @keydown.enter="applyFilter" placeholder="ប្រភេទសាលា" /> -->
                            <select class="form-select my-2 py-2" v-model="tempFilters.type"
                                aria-label="Select example">
                                <option value="">-- ប្រភេទឯកសារ --</option>
                                <option v-for="type in schoolTypes" :value="type">{{ type }}</option>
                            </select>
                        </div>

                        @* <div class="col-sm-6 col-md-6 col-xl-3 d-flex justify-content-between align-items-center">
                                <!-- Checkbox for Model School Standard Status -->
                                <div class="form-check form-check-custom form-check-sm my-2 py-2">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                                        v-model="tempFilters.modelSchoolStandardStatus" @keydown.enter="applyFilter" />
                                    <label class="form-check-label" for="flexCheckChecked">

                                    </label>
                                </div>

                                <label>
                                    <input type="checkbox" v-model="tempFilters.modelSchoolStandardStatus"
                                        @keydown.enter="applyFilter" />
                                    ជាប់ស្ដង់ដា
                                </label>
                                <!-- Filter Button -->
                                <button class="btn btn-sm btn-primary" @click="applyFilter">ស្វែងរក</button>

                            </div> *@
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 border-top my-5 mw-300px">

                    </div>
                </div>

                <!-- Filtered Results -->
                <div class="card mt-5">
                    <div class="card-body">
                        <div class="d-flex align-items-top justify-content-between">
                            <div style="width: 100%;">
                                <!--begin::Accordion-->
                                <div class="accordion accordion-icon-toggle" id="kt_accordion_1">
                                    <!--begin::Item-->
                                    <div class="mb-0">
                                        <!--begin::Header-->
                                        <div class="accordion-header py-2 d-flex collapsed" data-bs-toggle="collapse"
                                            data-bs-target="#kt_accordion_1_item_1">
                                            <span class="accordion-icon">
                                                <!--begin::Svg Icon | path: icons/duotone/Navigation/Right-2.svg-->
                                                <span class="svg-icon svg-icon-6">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                        height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                            <rect fill="#000000" opacity="0.5"
                                                                transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)"
                                                                x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                            <path
                                                                d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                                                fill="#000000" fill-rule="nonzero"
                                                                transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                        </g>
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </span>
                                            <h6 class="fs-7 text-gray-800 fw-bold mb-0 ms-1">
                                                <span class="">បង្ហាញ</span>៖ {{ filteredData.length }}/{{
                                                schoolData.length }}
                                            </h6>
                                        </div>
                                        <!--end::Header-->
                                        <!--begin::Body-->
                                        <div id="kt_accordion_1_item_1" class="collapse fs-6 ps-7"
                                            data-bs-parent="#kt_accordion_1">
                                            <div class="">
                                                - {{ SRS }}៖ <b>{{ countSchoolType(SRS) }}</b>
                                            </div>
                                            <div class="">
                                                - {{ NWS }}៖ <b>{{ countSchoolType(NWS) }}</b>
                                            </div>
                                            <div class="">
                                                - {{ GSE }}៖ <b>{{ countSchoolType(GSE) }}</b>
                                            </div>
                                            <div class="">
                                                - {{ TechnicalSchool }}៖ <b>{{ countSchoolType(TechnicalSchool)
                                                    }}</b>
                                            </div>
                                            <div class="pb-5">

                                            </div>
                                        </div>
                                        <!--end::Body-->
                                    </div>
                                    <!--end::Item-->

                                </div>
                                <!--end::Accordion-->

                                <div class="accordion accordion-icon-toggle" id="kt_accordion_2">
                                    <!--begin::Item-->
                                    <div class="mb-5">
                                        <!--begin::Header-->
                                        <div class="accordion-header py-2 d-flex collapsed" data-bs-toggle="collapse"
                                            data-bs-target="#kt_accordion_1_item_2">
                                            <span class="accordion-icon">
                                                <!--begin::Svg Icon | path: icons/duotone/Navigation/Right-2.svg-->
                                                <span class="svg-icon svg-icon-6">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                        height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                            <rect fill="#000000" opacity="0.5"
                                                                transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)"
                                                                x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                            <path
                                                                d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                                                fill="#000000" fill-rule="nonzero"
                                                                transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                        </g>
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </span>
                                            <h6 class="fs-7 text-gray-800 fw-bold mb-0 ms-1">
                                                {{ filters.type[0] != '' && filters.type.length > 0 ?
                                                `${filters.type[0]} ` :
                                                'សាលា' }}ដែលនៅក្នុងខេត្តចំនួន
                                                {{ provinceList.length }} <b>{{
                                                    }}</b>
                                            </h6>
                                        </div>
                                        <!--end::Header-->
                                        <!--begin::Body-->
                                        <div id="kt_accordion_1_item_2" class="collapse fs-6 ps-7"
                                            data-bs-parent="#kt_accordion_2">

                                            <div>
                                                <FilterByProvince :provinceList="provinceList"></FilterByProvince>
                                            </div>
                                        </div>
                                        <!--end::Body-->
                                    </div>
                                    <!--end::Item-->
                                </div>
                            </div>

                            <div class="dropdown" style="position: absolute; right: 20px;">
                                <button class="btn bg-light-warning fs-7 py-1 px-2 text-nowrap" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    បញ្ជីសាលា
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a target="_blank"
                                            class="dropdown-item btn btn-xs btn-light py-2 text-gray-800 border-bottom"
                                            style="border-radius: 0%;"
                                            href="https://drive.google.com/file/d/1DinD0TA2Xu32_p2lA9YhgdGSCFktGqXI/view?usp=sharing">PDF</a>
                                    </li>
                                    <li><a target="_blank"
                                            class="dropdown-item btn btn-xs btn-light py-2 text-gray-800 border-top"
                                            style="border-radius: 0%;"
                                            href="https://api.codemie.dev/file/259-stepup-schools-excel">Excel
                                            (Zip)</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <!-- <div class="col-xl-8">
            <ClassList></ClassList>
          </div>
          <div class="col-xl-4">
            <MyTask></MyTask>
          </div> -->
        </div>
        <!--end::Row-->

        <!--begin::Row-->
        <div class="row g-0 g-xl-5 g-xxl-8 myPage">

            <div class="col-xl-12">
                <!--begin::Table Widget 1-->
                <div class="card card-stretch mb-5 mb-xxl-8">
                    <!--begin::Header-->
                    <div class="card-header border-0">
                        <h3 class="card-title align-items-center flex-row">
                            <img src="/assets/media/multimedia.png" class="h-30px me-3" />
                            <span class="card-label fw-bolder text-dark fs-2">Multimedia</span>
                            <span class="text-muted mt-2 fw-bold fs-6">

                            </span>
                        </h3>
                        <div class="card-toolbar">
                            @* <ul class="nav nav-pills nav-pills-sm nav-light">
                    <li class="nav-item">
                    <a class="nav-link btn btn-primary-light py-2 px-4 active fw-bolder me-2"
                    asp-action="Upload"
                    asp-controller="FileUpload"
                    asp-area="Talkemie.FileService.WebApp">Add New</a>
                    </li>
                    </ul> *@
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-2 mt-n3">
                        <div class="mt-5 section_our_solution" id="myTabTables1">
                            <div class="row g-7">
                                @foreach (var item in uploadedFiles)
                                {
                                    var fileUrl = string.IsNullOrWhiteSpace(item.Slug) ?
                                    $"{host}/file/{item.Id}/preview" :
                                    $"{host}/file/{item.Slug}";

                                    var downloadUrl = $"{host}/file/{item.Id}/download";

                                    <div class="col-xl-3 col-md-4 col-sm-6">
                                        <div class="our_solution_category">
                                            <div class="solution_cards_box">

                                                <div class="solution_card">
                                                    @if (new List<string>() { ".mp3", ".opus", ".ogg" }.Any(x =>
                                                                                                    item.FileName.Contains(x)))
                                                    {
                                                        <div class="w-100 bg-light d-flex flex-column flex-center"
                                                            style="height:150px;">
                                                            <audio controls class="w-100">
                                                                <source src="@fileUrl" type="audio/mpeg" />
                                                                <source src="@fileUrl" type="audio/ogg" />
                                                                <source src="@fileUrl" type="audio/wav" />
                                                                Audio not supported
                                                            </audio>
                                                        </div>
                                                    }
                                                    else if (new List<string>() { ".mp4" }.Any(x =>
                                                    item.FileName.Contains(x)))
                                                    {
                                                        <video controls class="w-100" src="@fileUrl" style="height:150px;">
                                                            Video not supported
                                                        </video>
                                                    }
                                                    else if (new List<string>() { ".jpg", ".jpeg", ".png" }.Any(x =>
                                                    item.FileName.Contains(x)))
                                                    {
                                                        <img src="@fileUrl" class="w-100 shadow-1-strong bg-light"
                                                            style="height: 150px; overflow: hidden; object-fit:cover;"
                                                            alt="@item.Description" data-bs-toggle="modal"
                                                            data-bs-target="#myModal" data-my-modal-title="Preview"
                                                            data-my-modal-no-footer data-id="@item.Id"
                                                            data-my-action="<img src=@fileUrl style='max-width: 100%; object-fit:cover; display: block; margin: 0 auto;' />" />
                                                    }
                                                    else if (new List<string>() { ".gif" }.Any(x =>
                                                    item.FileName.Contains(x)))
                                                    {
                                                        <div class="w-100 bg-light d-flex flex-column flex-center"
                                                            style="position: relative;">
                                                            <canvas data-my-gif-url="@fileUrl"
                                                                class="w-100 shadow-1-strong bg-light"
                                                                style="height: 150px; overflow: hidden; object-fit:cover; border:0.1px solid black;"
                                                                data-bs-toggle="modal" data-bs-target="#myModal"
                                                                data-my-modal-title="Preview" data-my-modal-no-footer
                                                                data-id="@item.Id"
                                                                data-my-action="<img src=@fileUrl style='max-width: 100%; object-fit:cover; display: block; margin: 0 auto;' />">
                                                            </canvas>
                                                            <span
                                                                style="position: absolute; top: 0.5px; left:0.5px; border-bottom-right-radius: 16px; border-top-left-radius: 10px;"
                                                                class="bg-accent px-3">gif</span>
                                                        </div>

                                                    }
                                                    else if (new List<string>() { ".pdf" }.Any(x =>
                                                    item.FileName.Contains(x)))
                                                    {
                                                        <div class="w-100 bg-light d-flex flex-column flex-center"
                                                            style="height:150px;" data-bs-toggle="modal"
                                                            data-bs-target="#myModal" data-id="@item.Id"
                                                            data-my-modal-title="Preview" data-my-modal-no-footer
                                                            data-my-action="<a class='btn btn-primary btn-sm' href=@fileUrl>Open New Window</a>">
                                                            <h3>pdf</h3>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="w-100 bg-light d-flex flex-column flex-center"
                                                            style="height:150px;" data-bs-toggle="modal"
                                                            data-bs-target="#myModal" data-my-modal-title="Preview"
                                                            data-my-modal-no-footer data-id="@item.Id"
                                                            data-my-action="<p class='fs-4 text-danger'>Unable to preview @item.ContentType file type.<p/>">
                                                            <h3>@item.ContentType</h3>
                                                        </div>
                                                    }

                                                    <div class="hover_color_bubble"></div>

                                                    <div class="solu_title mt-2 px-3 d-flex justify-content-between">
                                                        <span>
                                                            @item.FileSize
                                                        </span>
                                                        @* <h3>Demo 1</h3> *@
                                                        <div>
                                                            <a href="#" data-href="@fileUrl" class="mx-2 liveToastBtn">
                                                                <i class="bi bi-clipboard fs-3"></i>

                                                            </a>
                                                            <a href="@downloadUrl">
                                                                <i class="bi bi-download fs-3"></i>
                                                            </a>
                                                        </div>

                                                    </div>

                                                    <div class="solu_description px-3">
                                                        <p id="@item.Id">
                                                            @item.Description
                                                        </p>
                                                        @* <button type="button" class="read_more_btn">Read More</button> *@
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                }
                            </div>


                        </div>
                    </div>
                </div>
                <!--end::Table Widget 1-->
            </div>
        </div>

        <!--begin::Toast-->
        <div id="liveToast" class="toast bg-white position-fixed bottom-0 end-0 p-3" style="z-index: 11" role="alert"
            aria-live="assertive" aria-atomic="true">
            @* <div class="toast-header">
    <i class="ki-duotone ki-abstract-39 fs-2 text-primary me-3"><span class="path1"></span><span
    class="path2"></span></i>
    <strong class="me-auto">Keenthemes</strong>
    <small>11 mins ago</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div> *@
            <div class="toast-body" id="toast-msg">
            </div>
        </div>
        <!--end::Toast-->

    </div>
    <!--end::Container-->

    <!--begin::Modals-->
    <!--begin::Modal - myModal-->
    <div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable mw-750px">
            <div class="modal-content">
                <!--begin::modal-header-->
                <div class="modal-header d-flex justify-content-between">
                    <!--begin::Modal title-->
                    <h2 class="modal-title">File Upload</h2>
                    <!--end::Modal title-->
                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-light" data-bs-dismiss="modal">
                        <!--begin::Svg Icon | path: icons/duotone/Navigation/Close.svg-->
                        <span class="svg-icon svg-icon-2">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)"
                                    fill="#000000">
                                    <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1"></rect>
                                    <rect fill="#000000" opacity="0.5"
                                        transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)"
                                        x="0" y="7" width="16" height="2" rx="1"></rect>
                                </g>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </div>
                    <!--end::Close-->
                </div>
                <!--end::modal-header-->
                <!--begin::modal-body-->
                <div class="modal-body">
                    <!--begin::Content-->
                    <div class="d-flex flex-row-fluid justify-content-center">

                        <!--begin::Form-->
                        <form class="pb-5 w-100 " novalidate="novalidate" id="myModalForm">
                            <div class="w-100">

                                <!--end::Form Group-->
                                <div class="mb-6">
                                    <label for="exampleFormControlTextarea1" class="fs-6 form-label">PDF
                                        Link</label>
                                    <div class="d-flex flex-row w-100 me-3">
                                        <div class="d-flex flex-stack">
                                            <a href="#"
                                                class="btn btn-icon btn-bg-light btn-active-light-primary btn-sm">
                                                <!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-right.svg-->
                                                <span class="svg-icon svg-icon-4">

                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                                                        <path
                                                            d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z" />
                                                        <path
                                                            d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z" />
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </a>
                                        </div>
                                        <div class="d-flex align-items-center ms-2">
                                            <span class="text-dark fs-6 fw-bolder">Progress</span>
                                        </div>
                                    </div>

                                </div>

                                <!--end::Form Group-->
                                <div class="mb-6">
                                    <label for="exampleFormControlTextarea1" class="fs-6 form-label">Description</label>
                                    <textarea class="form-control form-control-solid" name="description"
                                        id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>



                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Content-->

                </div>
                <!--end::modal-body-->
                <!--begin::modal-footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                <!--end::modal-footer-->

            </div>
        </div>
    </div>
    <!--end::Modal - myModal-->
    <!--end::Modals-->
</div>
<!--end::Content-->

@code {
    @inject IJSRuntime JS

    string host = "https://api.codemie.dev";
    List<FileUploadDTO> uploadedFiles = new();
    private bool hasRenderedFiles = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var publicFiles = await GetPublicUploadFiles();
        uploadedFiles = publicFiles.UploadedFiles;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Wait until canvas is rendered and hasn't been initialized yet
        if (uploadedFiles.Count > 0 && !hasRenderedFiles)
        {
            hasRenderedFiles = true;
            await JS.InvokeVoidAsync("loadViewComponentScript");
            await JS.InvokeVoidAsync("initializeCanvasAnimations");
        }
    }

    async Task<FileUploadListDTO> GetPublicUploadFiles()
    {
        using var client = new HttpClient();

        using var request = new HttpRequestMessage(HttpMethod.Post, $"{host}/v1/public/files");
        //request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);

        //var data = JsonSerializer.Serialize(request);
        //var stringContent = new StringContent(data, Encoding.UTF8);

        //request.Content = stringContent;
        //request.Content.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue("application/json");

        using var response = await client.SendAsync(request, HttpCompletionOption.ResponseHeadersRead);

        response.EnsureSuccessStatusCode();

        var content = await response.Content.ReadAsStringAsync();

        var responseItems = JsonSerializer.Deserialize<FileUploadListDTO>(content, new JsonSerializerOptions
        {
            PropertyNameCaseInsensitive = true
        });

        return responseItems;
    }

    public class FileUploadListDTO : DTOResponse
    {
        public List<FileUploadDTO> UploadedFiles { get; set; }
    }

    public class FileUploadDTO
    {
        public Guid Id { get; set; }
        public string? Slug { get; set; }
        public string FileName { get; set; }
        public string? FileNameForDownload { get; set; }
        public bool IsPublicAccess { get; set; }
        public string FileSize { get; set; }
        public string? ContentType { get; set; }
        public string? Description { get; set; }
        public DateTime? CreatedOn { get; set; }
        public string? CreatedBy { get; set; }
    }

    public class DTOResponse
    {
        public bool Success { get; set; }
        public List<string> Errors { get; set; }
    }
}

<style>
    .section_our_solution .row {
        align-items: center;
    }

    .our_solution_category {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .our_solution_category .solution_cards_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .solution_cards_box .solution_card {
        flex: 0 50%;
        background: #fff;
        /* box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15); */
        border-radius: 15px;
        /* margin: 8px; */
        /* padding: 10px 15px; */
        position: relative;
        z-index: 1;
        overflow: hidden;
        min-height: 255px;
        transition: 0.7s;
    }

    .solution_cards_box .solution_card:hover {
        background-color: #4877B6;
        @*color:#fff;*@
        box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
        transform: scale(1.01);
        z-index: 9;
    }

    .solution_cards_box .solution_card:hover::before {
        background: rgb(85 108 214 / 10%);
    }

    .solution_cards_box .solution_card:hover .solu_title {
        color: rgba(255, 255, 255, 0.5);
    }

    .solution_cards_box .solution_card:hover .solu_title a,
    .solution_cards_box .solution_card:hover .solu_title i,
    .solution_cards_box .solution_card:hover .solu_description p {
        color: #fff;
    }

    .solution_cards_box .solution_card:before {
        content: "";
        position: absolute;
        background: rgb(85 108 214 / 5%);
        width: 170px;
        height: 400px;
        z-index: -1;
        transform: rotate(42deg);
        right: -56px;
        top: -23px;
        border-radius: 35px;
    }

    .solution_cards_box .solution_card:hover .solu_description button {
        background: #fff !important;
        color: #309df0;
    }

    .solution_card .so_top_icon {}

    .solution_card .solu_title,
    .solution_card .solu_title h3 {
        color: rgba(0, 0, 0, 0.5);
        /* font-size: 1.3rem; */
        /* margin-top: 13px;
                                margin-bottom: 13px; */
    }

    .solution_card .solu_description p {
        font-size: 1rem;
        margin-bottom: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .solution_card .solu_description button {
        border: 0;
        border-radius: 15px;
        background: linear-gradient(140deg, #42c3ca 0%, #42c3ca 50%, #42c3cac7 75%) !important;
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
        padding: 5px 16px;
    }

    .our_solution_content h1 {
        text-transform: capitalize;
        margin-bottom: 1rem;
        font-size: 2.5rem;
    }

    .our_solution_content p {}

    .hover_color_bubble {
        position: absolute;
        background: rgb(54 81 207 / 15%);
        width: 100rem;
        height: 100rem;
        left: 0;
        right: 0;
        z-index: -1;
        top: 16rem;
        border-radius: 50%;
        transform: rotate(-36deg);
        left: -18rem;
        transition: 0.7s;
    }

    .solution_cards_box .solution_card:hover .hover_color_bubble {
        top: 0rem;
    }

    .solution_cards_box .solution_card .so_top_icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #fff;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .solution_cards_box .solution_card .so_top_icon img {
        width: 40px;
        height: 50px;
        object-fit: contain;
    }
</style>
